
<div style="display: flex;flex-direction: column; align-items: center">
  <h1>Connectez-vous</h1>
  <div style="display: flex; flex-direction: column; width: 30%">
    <mat-form-field appearance="fill">
      <input placeholder="Identifier" matInput type="text" [(ngModel)]="identifier">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input placeholder="Identifier" matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <button color="primary" mat-raised-button (click)="login()">Valider</button>
  </div>
</div>


